<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <h1>HIII</h1>
    <div id="root"></root>

        <script src="/bundle.js"></script>
</body>

</html>
